<% provide(:title, 'DM画面') %>

<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <h2>Direct Message</h2>
    <div class="messages">
      <% @messages.each do |message| %>
        <div class="message-box">
          <div class="message-content">
            <%= message.content %>
          </div>
          <div class="message-timestamp">
            <%= l(message.created_at, format: :short) %>
          </div>
        </div>
      <% end %>
    </div>
    <div class="message-form">
      <textarea placeholder="メッセージを入力してください" rows="3"></textarea>
      <button type="button" class="btn btn-primary">送信</button>
    </div>
  </div>
</div>
