<div class="message-box">
  <div class="message-content">
    <p>発言者: <%= message.user.name_with_id %></p>
    <span><%= message.content %></span>
  </div>
  <div class="message-timestamp">
    <%= l(message.updated_at, format: :short) %>
  </div>
</div>