<div class="notification" data-channel-id="<%= channel_id %>">
  <%= link_to channel_path(channel_id), class: "notification-link" do %>
    <div class="notification-content">
      <span class="notification-sender"><%= sender %></span>
      <span class="notification-message"><%= message %></span>
    </div>
  <% end %>
  <button class="notification-close" data-action="click->message-notification#close">✖</button>
</div>