<% content_for :head do %>
  <script type="module">
    // import "controllers/sandbox_controller";
  </script>
<% end %>
<div id="testH1">
  <h1>Sandbox</h1>
</div>
<div data-controller="sandbox">
  <input data-sandbox-target="name" type="text" placeholder="name" />

  <button data-action="click->sandbox#greet">
    挨拶する
  </button>
</div>
