<% content_for :head do %>
  <script type="module">
    // import "controllers/sandbox_controller";
  </script>
<% end %>
<div id="testH1">
  <h1>Sandbox</h1>
</div>
<div data-controller="sandbox">
  <input data-sandbox-target="name" type="text" placeholder="name" />
  <template data-sandbox-target="template">
    <div data-sandbox-target="box">
      test-div
    </div>
  </template>

  <button data-action="click->sandbox#greet">
    挨拶する
  </button>

  <button data-action="click->sandbox#templateComfirm">
    template確認
  </button>
</div>
